<h1>{{ operation === 'create' ? 'Crear' : 'Editar' }} usuario</h1>
sadasd
<form>
  <!-- <div class="form-group">
    <label for="name">Nombre:</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="user.name">
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="user.email">
  </div>

  <div class="form-group">
    <label for="phone">Teléfono:</label>
    <input type="text" class="form-control" id="phone" [(ngModel)]="user.phone">
  </div> -->

  <button type="submit" class="btn btn-primary">{{ operation === 'create' ? 'Crear' : 'Guardar' }}</button>
</form>
