<!-- Encabezado -->
<app-header></app-header>


<div class="container-fluid">
  <div class="row">

    <!-- Barra lateral izquierda -->
    <app-sidebar class="col-12 col-md-1 pt-3 pb-3 sidebar-bg"></app-sidebar>

    <!-- Contenido principal -->
    <main class="col-12 col-md-10 pt-3 pb-3">
      <app-breadcrumb></app-breadcrumb>
      <router-outlet></router-outlet>
    </main>

    <!-- Barra lateral derecha -->
    <app-sidebar class="col-12 col-md-1 pt-3 pb-3 sidebar-bg"></app-sidebar>

  </div>
</div>

<!-- Pie de página -->
<app-footer></app-footer>