<div class="input-group justify-content-center align-items-center" [title]="settings.title">
  <button class="btn btn-primary rounded-5" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" (click)="showDropdown = !showDropdown">
    <i class="fa-solid fa-plus fa-2xs"></i>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="{{settings.searchPlaceholder}}" [(ngModel)]="searchTerm">
      </div>
    </li>
    <li *ngFor="let option of settings.options | filter : searchTerm" (click)="selectOption(option)">
      <a class="dropdown-item" href="#">
        {{ option.label }}
      </a>
    </li>
  </ul>
</div>

